@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Dawning+of+a+New+Day|Josefin+Sans:100');
@media screen and (min-width: 601px){
.title {
  color: #aeb0b2;
  text-align: center;
  font: 80px 'Dawning of a New Day';
}}
@media screen and (max-width: 600px){
.title {
  color: #aeb0b2;
  text-align: center;
  font: 40px 'Dawning of a New Day';
}}
.navbar-nav {
  width: 100%;
  text-align: center;
  }
.navbar-nav li {
    float: none;
    display: inline-block;
    margin-left:left: 8px;
    margin-right: 8px;
  }
.navbar-default{
  background-color: white;
  background-image: none;
  border-color: white;
}

#carousel-example-generic{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
@media screen and (min-width: 601px){
.carousel-caption h2{
  font:80px 'Amatic SC'
}}
@media screen and (max-width: 600px){
.carousel-caption h2{
  font:40px 'Amatic SC'
}}
.carousel-caption p{
  font:20px 'Amatic SC'
}
#carousel-example-generic .carousel-slide{
  height:125px
}
.col-md-4 {
  padding:4px
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:;
}

.feature:hover .overlay {
  opacity: 1;
}
.feature:hover .post-title{
  opacity:0;
}
.feature:hover .img-responsive{
  opacity:0.7;
}

.post-info {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px #696c6d;
  opacity:1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.post-title {
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 1px #696c6d;
  opacity:1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.contact {
  color: red
  }
.parallax{
  background-image: url("Beach footprint.jpg");
  height:500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 601px){
.image-overlay h2{
  font:60px 'Amatic SC';
  text-align: left;
  color:white;
  padding:10px;
}}
@media screen and (max-width: 600px){
.image-overlay h2{
  font:40px 'Amatic SC';
  text-align: left;
  color:white;
  padding:4px;
}}
@media screen and (min-width: 601px){
.image-overlay p{
  font:30px 'Josefin Sans';
  text-align: left;
  color:white;
  padding:10px;
}}
@media screen and (max-width: 600px){
.image-overlay p{
  font:20px 'Josefin Sans';
  text-align: left;
  color:white;
  padding:4px;
}}
