@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
h1 {
  color: green;
}
#carousel-example-generic{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
.carousel-caption{
  font:80px'Amatic SC'
}
