@import url('https://fonts.googleapis.com/css?family=Amatic+SC','https://fonts.google.com/specimen/Berkshire+Swash');
h1 {
  color: gray;
  font: 'Berkshire Swash'
}
#carousel-example-generic{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
.carousel-caption h2{
  font:80px'Amatic SC'
}
.carousel-caption p{
  font:20px 'Amatic SC'
}
